@import "tailwindcss";

* {
  font-family: "Manrope", sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  font-family: "Manrope", sans-serif;
  color: #fff;
  line-height: 1.25;
  -webkit-font-smoothing: antialiased;
  background: #0a0a0a;
}